<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img src="logo.png" class="footer-logo">
    </div>
    <div class="footer-links">
      <h4>Secciones</h4>
      <a routerLink="/">Inicio</a>
      <a routerLink="/nosotros">Sobre Nosotros</a>
      <a routerLink="/caracteristicas">Características</a>
      <a routerLink="/contacto">Contacto</a>
    </div>

    <div class="footer-social">
      <h4>Síguenos</h4>
      <div class="icons">
        <a href="https://www.instagram.com/starnutri.mx/?utm_source=ig_web_button_share_sheet">
          <img src="https://cdn-icons-png.flaticon.com/512/733/733558.png">
        </a>
      </div>
    </div>
  </div>
</footer>
