.footer {
  background: black;
  margin-top: 100px;
  padding: 2rem 10rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

/* BRAND */
.footer-brand {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}

.footer-logo {
  width: 200px;
}

/* LINKS */
.footer-links {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  color: #ffffff;
}

.footer-links a {
  cursor: pointer;
  transition: .1s;
}

.footer-links a:hover {
  transform: translateX(25px);
  color: #ffffff;
}

/* SOCIAL */
.footer-social .icons img {
  width: 40px;
  transition: .3s;
}

.footer-social h4 {
  color: #ffffff;
}

.footer-social .icons img:hover {
  transform: scale(1.2) rotate(5deg);
}

/* COPY */
.footer-copy {
  text-align: center;
  margin-top: 4rem;
  opacity: .7;
  font-size: 1rem;
  color: #ffffff;
}

/* MOBILE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}