<div class="admin-container">
  <div class="glass dashboard-wrapper">
    <div class="card-header">
      <h2 class="title">Dashboard</h2>
      <p class="subtitle">Resumen general del sistema</p>
    </div>

    <div class="dashboard-cards">
      <div class="card">
        <span class="icon">👥</span>
        <h3>Total Usuarios</h3>
        <p class="value">{{ totalUsuarios }}</p>
      </div>

      <div class="card">
        <span class="icon">🛡️</span>
        <h3>Administradores Activos</h3>
        <p class="value">{{ totalAdmins }}</p>
      </div>

      <div class="card">
        <span class="icon">📅</span>
        <h3>Registros de Hoy</h3>
        <p class="value">{{ registrosHoy }}</p>
      </div>
    </div>

    <div class="dashboard-bottom">
       <div class="chart-container">
        <h3 class="section-title">Vistas de usuarios</h3>
        <canvas id="vistasChart"></canvas>
      </div>
      <div class="chart-container">
        <h3 class="section-title">Usuarios por rol</h3>
        <canvas id="rolesChart"></canvas>
      </div>

      <div class="table-wrapper full">
        <h3 class="section-title">Últimos usuarios</h3>

        <div class="table-scroll">
          <table class="tabla modern">
            <thead>
              <tr>
                <th>Email</th>
                <th>Rol</th>
                <th>Fecha</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of ultimosUsuarios">
                <td class="email">{{ user.email }}</td>
                <td><span class="badge">{{ user.rol }}</span></td>
                <td>{{ user.fecha?.toDate() | date:'short' }}</td>
              </tr>

              <tr *ngIf="ultimosUsuarios.length === 0">
                <td colspan="3" class="no-data">
                  No hay datos disponibles
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>

</div>